.cal .calbody.nwday:not(.odd) { background-color: #fecece; }
.cal .calbody .holiday_name { float: left; padding: 1px; }

.gantt_hdr.nwday { background-color: #fedede; }

@media screen and (max-width: 899px) {
  .cal .calbody .holiday_name { float: right; padding: 1px; }
}
